<a href="https://colab.research.google.com/github/asheta66/Experiments/blob/main/TRAIN_AWS_Part_I_Pre_Session_1_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Homework: Python Basics - Part 1**
---

### **Problem #1**
---

Modify the code to calculate the area of a rectangle whose length is 10 and width is 5.

In [ ]:
length = 10
width = 5
area = length*width
print(area)

50

### **Problem #2**
---

Modify the code to calculate the `cost_per_person` if the `total_cost` is 500.

In [ ]:
total_cost = 500
number_of_people = 5
cost_per_person = total_cost/number_of_people
print(cost_per_person)

100.0

### **Problem #3**
---

Modify the code shown below to calculate the final exam grade needed when:

| Exam         	| Grade 	| Weight 	|
|--------------	|-------	|--------	|
| Exam 1:      	| 75    	| 0.2    	|
| Exam 2:      	| 82    	| 0.2    	|
| Final Exam:  	| ?     	| 0.6    	|
| Final Grade: 	| 85    	|        	|

In [ ]:
exam_1_grade = 75
exam_1_weight = 0.2

exam_2_grade = 82
exam_2_weight = 0.2

final_exam_weight = 0.6
wanted_final_grade = 82.4

required_grade_on_final = (wanted_final_grade- exam_1_grade*exam_1_weight - exam_2_grade*exam_2_weight)/final_exam_weight
print(required_grade_on_final)

85.0

### **Problem #4**
---
Print `Hello friends.`

In [ ]:
print("Hello friends")

Hello friends

### **Problem #5**
---
Print the number `10`.

In [ ]:
print("10")

10

### **Problem #6**
---
Create a variable that stores a list of three countries. Print the variable.

In [ ]:
countries = ["United States", "France", "Australia"]
print(countries)

['United States', 'France', 'Australia']

### **Problem #7**
---
Print the year.

In [ ]:
import datetime

current_year = datetime.datetime.now().year
print(current_year)

2023

### **Problem #8**
---
What is wrong with these declarations? If there is a problem, correct it. If there is not a problem, use a comment to write "NONE" on the same line.

```
1var = 10
2var = 20
3var = 30
Var4 = 40
VAR5 = 50
var6 = 60
month&year = "July 2022"
hello = "hello"
in = "in"
```

### **Problem #9**
---
Create a variable `name` and assign it to your name. Print `name`. Then, reassign `name` to a friend's name. Print again.

In [ ]:
name = "Alaa"
print(name)

name = "Ahmed"
print(name)

Alaa
Ahmed

### **Problem #10**
---
Label the following data types.
```
2
8.9
"Train"
["string"]
5.0
```

In [ ]:
value1 = 2
value2 = 8.9
value3 = "Train"
value4 = ["string"]
value5 = 5.0

print(type(value1))
print(type(value2))
print(type(value3))
print(type(value4))
print(type(value5))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'float'>

### **Problem #11**
---
Create a list called `nums` with the numbers 1, 2, and 3 inside.

In [ ]:
nums = [1, 2, 3]
print(nums)

[1, 2, 3]

### **Problem #12**
---
Which of the following is a valid variable name in Python:
```
a variable
A_variable
a.variable
a_variable
```

### **Problem #13**
---
Using only variables, print the statement `"I love coding"`.

In [ ]:
verb = "love"
subject = "coding"

print("I" + " " +  verb + " " + subject)

I love coding

### **Problem #14**
---
Create variables `age` and `name`. Using these variables, print a message that says "Hello, [your name]! You are [your age] years old."

In [ ]:
name = "John"
age = 30

print("Hello, {}! You are {} years old.".format(name, age))

Hello, John! You are 30 years old.

### **Problem #15**
---
Create variables `zipcode`, `city` and `state`. Using these variables, print a message that says "[your zipcode] is a zipcode in [your city], [your state]."

In [ ]:
zipcode = "12345"
city = "Exampletown"
state = "Examplestate"

print("{} is a zipcode in {}, {}.".format(zipcode, city, state))

12345 is a zipcode in Exampletown, Examplestate.

### **Problem #16**
---
If the `entered_password` is not equal to "password123", print "Incorrect password." Otherwise, print "Login successful."

In [ ]:
entered_password = "pasword123"

if entered_password != "password123":
    print("Incorrect password.")
else:
    print("Login successful.")

Incorrect password.